<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="ERPAppWebService.Servicio"  behaviorConfiguration="Default">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:5603/servicio/"></add>
					</baseAddresses>
				</host>

				<endpoint address="http://localhost:5603/servicio/"
						  binding="webHttpBinding"
						  contract="ERPAppWebService.IServicio"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="Default">
					<serviceMetadata httpGetEnabled="true"></serviceMetadata>
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior>
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>