<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SIA.Contabilidad.WebService.ContabilidadService" behaviorConfiguration="metadataSupport">
        <endpoint contract="SIA.Contabilidad.WebService.IContabilidadService" binding="basicHttpBinding"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>

